<div class="banner maximized">
  <div class="menu-bar">
    <a href="/projects?type=active" <%= @type == "active" ? 'class=active' : '' %>>Active</a>
    <a href="/projects?type=latest" <%= @type == "latest" ? 'class=active' : '' %>>Latest</a>
    <a href="/projects?type=deleted" <%= @type == "deleted" ? 'class=active' : '' %>>Deleted</a>
  </div>
  <div class="title main">Projects</div>
  <div class="title summary">All Projects</div>

  <div class="actionsWrap">
    <core-tooltip label="New Project" class="fancy pull-right create-project" role="tooltip">
      <paper-fab icon="add" role="button"></paper-fab>
    </core-tooltip>
  </div>
</div>

<div class="bannerBG maximized" style="display: none;">

</div>

<div class="projectWrap row maximized">
  <% @projects.each do |project| %>
    <%= render :partial => "projectTile", :locals => {:project => project} %>
  <% end %>
</div>

<%= render :partial => "newProject" %>
<%= render :partial => "addMember" %>

<% content_for :endjs do %>
  <script type="text/javascript">
    $(document).ready(function () {
      timesheet.projects();
    });
  </script>
<% end %>