<!DOCTYPE html>
<html>
  <head>
    <title>Timesheet</title>
    <% if Rails.env == "development" %>
      <script>
        Platform = {flags: {debug: true}};
      </script>
    <% end %>
    <link rel="import" href="/components.html">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag params[:controller], media: 'all', 'data-turbolinks-track' => true %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag params[:controller], 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render :partial => "shared/header" %>
    <div id="main_container" style="height: 100%;">
      <% if notice %>
        <p class="alert alert-success"><%= raw (notice.is_a?(Array) ? notice.join("</br>") : notice) %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= raw (alert.is_a?(Array) ? alert.join("</br>") : alert) %></p>
      <% end %>

      <div class="col-lg-offset-1 col-md-offset-1 col-lg-10 col-md-10 col-xs-12 marginBottom20">
        <%= yield %>
      </div>
    </div>
    <%= render :partial => "shared/footer" %>
  </body>
</html>

<script type="text/javascript">
  $(document).ready(function () {
    timesheet = new Timesheet();
    timesheet.init();
  })
</script>
<%= yield(:endjs) %>
