<!DOCTYPE html>
<html>
  <head>
    <title>Timesheet</title>
    <% if Rails.env == "development" %>
      <script>
        Platform = {flags: {debug: true}};
      </script>
    <% end %>
    <link rel="import" href="components.html">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render :partial => "shared/header" %>
    <% headerHeight = current_user.present? ? "72px" : "72px" %>
    <div class="opaque_bg" style="height: <%= headerHeight %>;"></div>

    <%= yield %>

    <%= render :partial => "shared/footer" %>
  </body>
</html>
